/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  background: black;
  
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
  display: flex;
}
a {
  text-decoration: none;
}

h2,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
  
  h2 {
    font-size: 2.5rem;
  }
 
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h2,
  h4 {
    line-height: 1;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Nav
===============
*/
nav {
  background: hsl(205, 64%, 89%);
  height: 3rem;
  display: flex;
  align-items: center;
  box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);
}
.nav-center {
  width: 90vw;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-center h4 {
  margin-bottom: 0;
  color: hsl(205, 86%, 17%);
}
.nav-links {
  display: flex;
}
nav a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: hsl(205, 52%, 38%);
  letter-spacing: 0.1rem;
  margin-right: 1rem;
  display: inline;
}
nav a:hover {
  color: rgb(152, 152, 185);
}
/*
=============== 
Container
===============
*/
main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}
/* .container {
  text-align: center;
} */
/* .container h2 {
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 1rem;
  border-radius: var(--radius);
  margin-bottom: 2.5rem;
} */
.color {
  color: honeydew;
}
.btn {
  font-family:cursive;
  text-transform: uppercase;
  background: transparent;
  color: whitesmoke;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 100;
  transition: all 0.3s linear;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  margin-left: 30%;
  
}
.btn:hover {
  color: white;
  background: rgb(102, 69, 95);
}


